<!-- <h2>Todo List</h2>

<form [formGroup]="todoForm" (ngSubmit)="addTask()">
  <input
    formControlName="taskText"
    placeholder="Enter a new task"
    type="text"
  />
  <button type="submit" [disabled]="todoForm.invalid">Add</button>
</form>

<div *ngIf="todoForm.get('taskText')?.invalid && todoForm.get('taskText')?.touched" style="color:red;">
  Task is required.
</div>

<ul>
  <li *ngFor="let task of tasks; let i = index">
    <input
      type="checkbox"
      [checked]="task.done"
      (change)="toggleDone(i)"
      id="task-{{ i }}"
    />
    <label
      [for]="'task-' + i"
      [class.done]="task.done"
      style="cursor: pointer;"
    >
      {{ task.text }}
    </label>
    <button (click)="deleteTask(i)">Delete</button>
  </li>
</ul> 
 -->


  <h2>Todo List (Parent Child Input/Output Decorator)</h2>
    <app-todo-input (taskAdded)="addTask($event)"></app-todo-input>
    <ul>
      <app-todo-item
        *ngFor="let task of tasks; index as i" [task]="task" [id]="i" (delete)="deleteTask(i)"(toggleDone)="toggleDone(i)"></app-todo-item>
    </ul>


    <h2>Todo List (Service Communication)</h2>
    <app-task-sender></app-task-sender>
    <app-task-receiver></app-task-receiver>