<form (ngSubmit)="submitForm()" #form="ngForm">
  <label>Name:</label>
  <input name="name" [(ngModel)]="contact.name" required> <br><br>

  <label>Email:</label>
  <input name="email" [(ngModel)]="contact.email" required email> <br><br>

  <label>Message:</label>
  <textarea name="message" [(ngModel)]="contact.message" required></textarea> <br><br>

  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>

<hr>

<h3>Preview</h3>
<p><strong>Name:</strong> {{ contact.name | uppercase }}</p>
<p><strong>Email:</strong> {{ contact.email }}</p>
<p><strong>Message:</strong> {{ contact.message }}</p>


<h2>Angular Pipes Example</h2>

<p><strong>Original Name:</strong> {{ name }}</p>
<p><strong>Uppercase:</strong> {{ name | uppercase }}</p>
<p><strong>Lowercase:</strong> {{ name | lowercase }}</p>
<p><strong>Title Case:</strong> {{ name | titlecase }}</p>

<p><strong>Today's Date:</strong> {{ today | date:'fullDate' }}</p>
<p><strong>Time:</strong> {{ today | date:'shortTime' }}</p>

<p><strong>Price:</strong> {{ price | currency:'INR' }}</p>
<p><strong>Discount:</strong> {{ discount | percent }}</p>
