<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <!-- Full Name -->
  <div>
    <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input matInput placeholder="Enter your full name" formControlName="fullName">
    <mat-error *ngIf="registrationForm.get('fullName')?.hasError('required')">
      Full name is required.
    </mat-error>
  </mat-form-field>
  </div>

  <!-- Email -->
 <div>
     <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter your email" formControlName="email">
    <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
      Email is required.
    </mat-error>
    <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">
      Enter a valid email.
    </mat-error>
  </mat-form-field>
 </div>

  <!-- Password -->
  <div>
    <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" type="password" formControlName="password">
    <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">
      Password is required.
    </mat-error>
    <mat-error *ngIf="registrationForm.get('password')?.hasError('minlength')">
      Password must be at least 6 characters.
    </mat-error>
  </mat-form-field>
  </div>

  <!-- Submit Button -->
  <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">
    Register
  </button>
</form>
